:root {
  background-color: rgb(13, 53, 0);
}

.title {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  text-align: center;
  padding: 10rem;
  font-family: "Roboto Condensed", sans-serif;
}
#startGame {
  padding: 0.5rem 3rem;
  font-size: 20px;
}
#dealer-cards img {
  height: 175px;
  width: 125px;
  margin: 1px;
}

#your-cards img {
  height: 175px;
  width: 125px;
  margin: 1px;
}
#hit {
  margin: 1rem;
  width: 100px;
  height: 50px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  border: none;
  background: rgb(27, 175, 71);
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.205),
    0 2px 4px -2px rgba(0, 0, 0, 0.466);
}

#stay {
  margin: 1rem;
  width: 100px;
  height: 50px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  border: none;
  background: rgb(160, 26, 26);
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.205),
    0 2px 4px -2px rgba(0, 0, 0, 0.466);
}
#results {
  margin: 2rem;
  font-size: 30px;
  font-family: "Roboto Condensed", sans-serif;
}
.title1 {
  font-family: "Titan One", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 4rem;
}
.title2 {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  font-family: "Roboto Condensed", sans-serif;
}
#start-message {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-family: "Roboto Condensed", sans-serif;
}
.start-button {
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 2.2rem;
  padding: 1rem;
  border: none;
  background: rgb(104, 16, 16);
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.205),
    0 2px 4px -2px rgba(0, 0, 0, 0.466);
}
.start-button:hover,
#stay:hover,
#hit:hover,
#restart:hover {
  transform: scale(1.05);
  transition: all 0.15s ease;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.144),
    0 4px 6px -4px rgba(0, 0, 0, 0.103);
}
#restart {
  margin: 2rem;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  min-width: 2.2rem;
  padding: 1rem;
  border: none;
  background: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.205),
    0 2px 4px -2px rgba(0, 0, 0, 0.466);
}
@media screen and (max-width: 550px) {
  .container {
    padding: 1rem;
  }
  #your-cards img,
  #dealer-cards img {
    height: 135px;
    width: 100px;
    margin: 1px;
  }
}
